div.mc-content {
	width: 400px;
	height: 20px;
	border: 1px solid #aaa;
	background: transparent;
}

div.mc-content ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

div.mc-content ul li {
	float: left;
}

div.mc-content ul li input {
	/*border: 0 transparent;*/
	border: 1px solid red;
	background: transparent;
}

div.mc-content ul li input.visible {
	display: inline;
}

div.mc-content ul li input.hide {
	display: none;
}